<div id="header" class="ui-g soso-header">
  <div class="ui-g-12 ui-md-7">
    <div class="ui-g">
     <div class="ui-g-12 ui-md-4">
      <img src="../assets/soso-client-start-logo.png" style="margin-left: 25%; width: 30%;height: 100%;"/>
     </div>
     <div class="ui-g-12 ui-md-8">
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="{{'Search' | translate}}" aria-label="translatedName"
                 matInput [formControl]="serviceAutoCompleteControl" [matAutocomplete]="auto" [(ngModel)]="selectedService">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let _service of services" [value]="_service">
              {{_service.translatedName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
     </div>
    </div>
  </div>
  <div class="ui-g-12 ui-md-4">
    <div style="float: right; margin-right: 6%;  margin-top: 1%;">
      <i class="fa fa-map-marker" aria-hidden="true" style="font-size: 3em; color: #484848"></i>
    </div>
  </div>
  <div class="ui-g-12 ui-md-1">
    <div style="margin-top: 11%;">
      <p-dropdown [options]="i18nService.supportedLanguages"  [style]="{'width':'90px'}" [(ngModel)] = "i18nService.selectedLang" (onChange)="selectLanguage()">
        <ng-template let-lang pTemplate="item">
          <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
            <img src="{{lang?.flagpath}}" style="width:24px;position:absolute;top:1px;left:5px"/>
            <div style="font-size:14px;float:right;margin-top:4px">{{lang?.label}}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

